/* Center the form on the page and make it responsive */
html {
  background-color: black;
}

form {
  margin: 0 auto;
  max-width: 50%; /* Adjust maximum width as needed */
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 1em;
  background: linear-gradient(180deg,black 40%,white);
  color: white;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Make text fields responsive */
input,
textarea {
  font: 1em sans-serif;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #999;
  border-radius: 0.5em;
  box-sizing: border-box;
}

/* Additional highlight for focused elements */
input:focus,
textarea:focus {
  outline: none;
  border-color: #000;
}

/* Center-align header and footer, make them responsive */
.asciiheader,
.asciifooter {
  text-align: center;
  padding: 1em;
  color: white;
  background-color: black;
}

.asciifooter {
  margin-top: 250px;
}

/* Set body background and text color */
.asciibody {
  background-color: black;
  color: white;
  padding: 1em; /* Add padding to main content for spacing */
}

/* Style radio buttons and labels */
input[type="radio"] {
  vertical-align: middle;
  margin-right: 0.5em;
  margin-bottom: -30px;
}

label {
  display: flex;
  align-items: center;
}

/* Style the generated ASCII art output */
.asciioutput {
  text-align: left;
  overflow: auto;
  max-width: 100%; /* Allow the pre element to be responsive */
  white-space: pre-wrap; /* Wrap long lines in pre element */
  background-color: white;
}

.error {
  text-align: center;
}

/* Make the form elements responsive on smaller screens */
@media (max-width: 768px) {
  form {
    max-width: 100%;
  }
}